@{
    ViewData["Title"] = "Password Validation";
    Layout = "~/Views/Shared/Heksa_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card my-4">
        <div class="card-body">
            <h2 class="fw-bold">Password Validation</h2>

            <form method="post" class="mb-4">
                <div class="mb-3">
                    <label for="password" class="form-label">Enter Password:</label>
                    <input name="password" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary">Validate Password</button>
            </form>

            @if (ViewData["IsValidPassword"] != null)
            {
                <div class="mt-4">
                    @if ((bool)ViewData["IsValidPassword"])
                    {
                        <p class="text-success">Password Anda memenuhi syarat!</p>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <p class="mb-0">Password Anda tidak memenuhi syarat.</p>
                        </div>
                        <p>Password: @ViewData["Password"]</p>
                    }
                </div>
            }
        </div>
    </div>
</div>
