@model Heksa.Models.Attachment

@{
    ViewData["Title"] = "Create Attachment";
    Layout = "~/Views/Shared/Heksa_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Attachment /</span> Create Attachment</h4>
<div class="card mb-4">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="mb-3 row">
                <label asp-for="AttachmentId" class="col-md-2 col-form-label">
                    Attachment ID
                </label>
                <div class="col-md-4">
                    <input asp-for="AttachmentId" class="form-control" />
                    <span asp-validation-for="AttachmentId" class="text-danger"></span>
                </div>
                <label asp-for="AgenId" class="col-md-2 col-form-label">
                    Agen ID
                </label>
                <div class="col-md-4">
                    <input asp-for="AgenId" class="form-control" />
                    <span asp-validation-for="AgenId" class="text-danger"></span>
                </div>
            </div>


            <div class="mb-3 row">
                <label asp-for="FileType" class="col-md-2 col-form-label">File Type</label>
                <div class="col-md-4">
                    <input asp-for="FileType" class="form-control" />
                    <span asp-validation-for="FileType" class="text-danger"></span>
                </div>
                <label asp-for="FileName" class="col-md-2 col-form-label">File Name</label>
                <div class="col-md-4">
                    <input asp-for="FileName" class="form-control" />
                    <span asp-validation-for="FileName" class="text-danger"></span>
                </div>
            </div>


            <div class="mb-3 row">
                <label asp-for="FilePath" class="col-md-2 col-form-label">File Path</label>
                <div class="col-md-4">
                    <input asp-for="FilePath" class="form-control" />
                    <span asp-validation-for="FilePath" class="text-danger"></span>
                </div>

            
            </div>


       

   
            <button type="submit" class="btn btn-primary" style="background-color: #0073fe">Submit</button>
            <a asp-action="AttachmentsList" style="background-color: #fd0017" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>
