@* @model Heksa.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AutLayout.cshtml";
}

<h2>Register</h2>
<div>
    <form asp-action="Register" class="mb-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@functions {
    public bool IsPasswordValid(string password)
    {
        if (password.Length < 8)
            return false;

        if (!password.Any(char.IsUpper) || !password.Any(char.IsLower) || !password.Any(char.IsDigit))
            return false;

        if (password.Any(c => "!@#$".Contains(c)))
            return false;

        return true;
    }
}
 *@